# Виртуальное окружение
venv/

# Игнорировать файлы IDE (например, PyCharm)
.idea/

# Игнорировать файлы базы данных
*.db

# Игнорировать файлы кэша
__pycache__/

# Игнорировать файлы конфигурации
*.ini

# Игнорировать файлы логов
*.log

# Игнорировать файлы с паролями и секретами
*.env